################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DXWebApplication2/v15/Server/sqlite3
/.vs/DXWebApplication2/v15/.suo
/DXApplication1/bin/
/DXApplication1/obj/
/ReportViewer/bin/
/ReportViewer/obj/